In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/SakyTempress/HDSC-2022-Stage-A/main/FoodBalanceSheets_E_Africa_NOFLAG.csv'
food_data = pd.read_csv(url, error_bad_lines=False, encoding='latin-1')

food_data.head()

C:\Users\user\AppData\Local\Temp\ipykernel_9728\4055282216.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  food_data = pd.read_csv(url, error_bad_lines=False, encoding='latin-1')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
# What is the total sum of Animal Fat produced in 2014 and 2017 respectively?
food_data.groupby('Item')['Y2014', 'Y2017'].sum()

C:\Users\user\AppData\Local\Temp\ipykernel_9728\1245420717.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Item')['Y2014', 'Y2017'].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [4]:
# What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
# What is the total number and percentage of missing data in 2016 to 2 decimal places?
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [6]:
# Which year had the highest correlation with â€˜Element Codeâ€™? 
food_data.corr().sum()

Area Code       1.022186
Item Code       1.075654
Element Code    1.095431
Y2014           5.033173
Y2015           5.016861
Y2016           5.026162
Y2017           5.024920
Y2018           5.025198
dtype: float64

In [7]:
# What year has the highest sum of Import Quantity?
food_data.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017'].sum()

C:\Users\user\AppData\Local\Temp\ipykernel_9728\3382083517.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017'].sum()

,Y2014,Y2015,Y2016,Y2017
Element,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10
Export Quantity,150020.64,157614.47,151920.46,182338.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
Feed,216927.89,225050.22,228958.65,223705.68
Food,1212332.49,1232361.10,1247022.17,1258888.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
Import Quantity,274144.48,267018.46,286582.78,294559.09
Losses,153223.00,155439.00,157787.00,160614.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97
Processing,282923.00,287929.00,280631.00,292836.00
Production,1931287.75,1947019.39,1943537.15,2030056.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
Residuals,30149.00,30045.00,37224.00,35500.00
Seed,21922.92,23976.82,23389.20,24870.14
Stock Variation,58749.83,34910.99,33140.12,54316.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
Tourist consumption,416.00,349.00,89.00,91.00

In [8]:
# What is the total number of the sum of Production in 2014?
food_data.groupby('Element')['Y2014'].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  1996716.35
Production                                1931287.75
Food                                      1212332.49
Total Population - Both sexes             1031585.00
Food supply (kcal/capita/day)              454257.00
Processing                                 282923.00
Import Quantity                            274144.48
Feed                                       216927.89
Losses                                     153223.00
Export Quantity                            150020.64
Other uses (non-food)                       78718.13
Stock Variation                             58749.83
Food supply quantity (kg/capita/yr)         49650.63
Residuals                                   30149.00
Seed                                        21922.92
Protein supply quantity (g/capita/day)      11836.46
Fat supply quantity (g/capita/day)          10225.56
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [9]:
# Which of these elements had the highest sum in 2018?
food_data.groupby('Element')['Y2015'].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  2021493.55
Production                                1947019.39
Food                                      1232361.10
Total Population - Both sexes             1058081.00
Food supply (kcal/capita/day)              453383.00
Processing                                 287929.00
Import Quantity                            267018.46
Feed                                       225050.22
Export Quantity                            157614.47
Losses                                     155439.00
Other uses (non-food)                       66254.41
Food supply quantity (kg/capita/yr)         49345.13
Stock Variation                             34910.99
Residuals                                   30045.00
Seed                                        23976.82
Protein supply quantity (g/capita/day)      11833.95
Fat supply quantity (g/capita/day)          10235.74
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [10]:
# Which of these elements had the 3rd lowest sum in 2018?
food_data.groupby('Element')['Y2015'].sum().sort_values(ascending=True)

Element
Tourist consumption                           349.00
Fat supply quantity (g/capita/day)          10235.74
Protein supply quantity (g/capita/day)      11833.95
Seed                                        23976.82
Residuals                                   30045.00
Stock Variation                             34910.99
Food supply quantity (kg/capita/yr)         49345.13
Other uses (non-food)                       66254.41
Losses                                     155439.00
Export Quantity                            157614.47
Feed                                       225050.22
Import Quantity                            267018.46
Processing                                 287929.00
Food supply (kcal/capita/day)              453383.00
Total Population - Both sexes             1058081.00
Food                                      1232361.10
Production                                1947019.39
Domestic supply quantity                  2021493.55
Name: Y2015, dtype: float64

In [11]:
# What is the total Import Quantity in Algeria in 2018?
food_data.groupby(['Area', 'Element'])[ 'Y2018'].sum().head(10)

Area     Element
Algeria  Domestic supply quantity               90023.42
         Export Quantity                          811.54
         Fat supply quantity (g/capita/day)       309.09
         Feed                                   10668.00
         Food                                   63736.33
         Food supply (kcal/capita/day)          13288.00
         Food supply quantity (kg/capita/yr)     1509.28
         Import Quantity                        36238.29
         Losses                                  7708.00
         Other uses (non-food)                   3970.08
Name: Y2018, dtype: float64

In [12]:
# What is the total number of unique countries in the dataset?
food_data.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64